[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group ldap/oran-gerrit-ric-plt-tracelibgo-committers
	owner = group saml/oran-gerrit-ric-plt-tracelibgo-committers
	read = group GitHub Replication
[project]
	description = This repo includes a small golang library for using OpenTracing from near-RT RIC xApps and near-RT RIC platform components.
